<div class="card">
    <form  (ngSubmit)="onSubmit()" [formGroup]="RoleCreation" >
    <div class="card-header">
        Role Creation
    </div>
    <div class="col-md-12">
        <div class="row">
            <div class="col-md-5">
            <label>
                Role Name :
            </label>
        </div>
            <div class="col-md-7">
            <input  formControlName="rolename" required>
            
        </div>
        </div>
        <div class="row" >
            <div class="col-md-5">
                <label>Role Description :</label>
            </div>
            <div class="col-md-7">
                <textarea formControlName="roleDescription" style="
                 border: 1px solid #ccc;
                border-radius: 4px;"
                required
                ></textarea>
            </div>
        </div>
        <button class="btn btn-primary" >Submit</button>
        <button type="cancel" (click)="onCancel()" class="btn btn-danger">Cancel</button>
    </div>
</form>
</div>
