

<div class="card">
    <div class="card-header"><b>Change Password</b></div>
    <form (ngSubmit)="onSubmit()" [formGroup]="ChangePassword" >
    <div class="col-md-12" style="margin-top: 10px;">
        <div class="row"  >

            <div class="col-md-4">
                <label for="">Old Password</label>
            </div>
            
            <div class="col-md-4" >
                <div  class="form-group">
                <input type="text" placeholder="Old Password" formControlName="oldPassword">
            </div>
        </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <label for="">New Password</label>
            </div>
       
            <div class="col-md-4">
                <div  class="form-group">
                <input type="text" placeholder="New Password" formControlName="newPassword">
            </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <label for="">Confirm Password</label>
            </div>
            
            <div class="col-md-4">
                <div  class="form-group">
                <input type="text" placeholder="Confirm Password" formControlName="confirmPassword">
            </div>
            </div>
        </div>

    </div>

        <div class="col-md-12">
            <div class="row">
                <div class="col-md-6">
        <button type="submit" class="btn btn-primary">UPDATE</button>
    </div>
    <div class="col-md-6">
        <button  class="btn btn-danger" (click)="CancelButton()">Cancel</button>
    </div>
    </div>
    </div>
</form>
    </div>
